/* Style the body */
body {
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
  }
  
  /* Style the header */
  header {
    background-color:lightgrey; 
    display: inline-block;
  }
  
  /* Style the nav */
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 100%;
  }
  
  /* Style the main */
  main {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    padding: 30px;
    background-color: yellow;
  }
  
  /* Style the footer */
  footer {
    background-color:lightgrey;
    color: black;
    padding: 30px;
  }
  
  /* Style the list items */
  /* li {
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    width: 100%;
  } */
  
  /* Style the h1 */
  h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color:black;
  }
  
  /* Style the paragraph */
  p {
    text-align: left;
    line-height: normal;
  }
  
  nav img{
    width: 10%;
    position: relative; 
    top: 20px
  }

  .grid{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content:space-around;
    align-items:center;
    row-gap: 20px;
  }

  .grid img {
    width: 100%;
  }

  .flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  